@using MySqlConnector;
@using System.Data.Common;
@using System.Text.Json;
@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
@using Microsoft.AspNetCore.DataProtection
@using System.Security.Claims

@inject NavigationManager NavigationManager
@inject ILocalStorageService localStorage
@inject IDialogService DialogService
@inject ISnackbar Snackbar
@inject IJSRuntime JSRuntime
@inject IDataProtectionProvider DataProtectionProvider
@inject IStringLocalizer<Pages.Settings.Notifications.Ntfy_sh.Add_Ntfy_sh_Notification_Dialog> Localizer
@inject AuthenticationStateProvider AuthenticationStateProvider

<MudDialog>
    <TitleContent>
        <MudText Typo="Typo.h6">@Localizer["title"]</MudText>
    </TitleContent>
    <DialogContent>
        <MudTextField Label="@Localizer["topic_name"]" T="string" @bind-Value="@topic_name" Immediate="@true" />
        <MudTextField Label="@Localizer["topic_url"]" InputType="@PasswordInput" Adornment="Adornment.End" AdornmentIcon="@PasswordInputIcon" OnAdornmentClick="Show_Password" AdornmentAriaLabel="@Localizer["display_password"]" @bind-Value="@topic_url" Immediate="@true" />
        <MudTextField Label="@Localizer["access_token"]" InputType="@PasswordInput" AdornmentIcon="@PasswordInputIcon" OnAdornmentClick="Show_Password" AdornmentAriaLabel="@Localizer["display_password"]" @bind-Value="@access_token" Adornment="Adornment.End" Immediate="@true" />
        <MudTextField Label="@Localizer["description"]" T="string" @bind-Value="@description" Immediate="@true" />

        <MudSelect T="string" @bind-Value="severity" Label="@Localizer["severity"]" AnchorOrigin="Origin.BottomCenter" TransformOrigin="Origin.TopCenter">
            <MudSelectItem T="string" Value="@Localizer["any"]" />
            <MudSelectItem T="string" Value="@Localizer["critical"]" />
            <MudSelectItem T="string" Value="@Localizer["high"]" />
            <MudSelectItem T="string" Value="@Localizer["moderate"]" />
            <MudSelectItem T="string" Value="@Localizer["low"]" />
        </MudSelect>

        <div style="display: flex; align-items: center;">
            <MudCheckBox @bind-Value="uptime_monitoring_enabled" Color="Color.Primary">@Localizer["uptime_monitoring"]</MudCheckBox>

            <MudTooltip Text="@Localizer["uptime_monitoring_tooltip"]">
                <MudIconButton Class="ml-2" Icon="@Icons.Material.Filled.Info" Variant="Variant.Text" Size="Size.Small" Color="Color.Default"></MudIconButton>
            </MudTooltip>
        </div>

        <MudDropContainer T="DropItem" Items="tenants" ItemsSelector="@((item,dropzone) => item.identifier  == dropzone)" ItemDropped="ItemUpdated" Class="d-flex flex-wrap flex-grow-1">
            <ChildContent>
                <MudDropZone T="DropItem" identifier="drop_zone_one" Class="rounded mud-background-gray pa-6 ma-8 flex-grow-1">
                    <MudText Typo="Typo.h6" Class="mb-4">@Localizer["tenants"]</MudText>
                </MudDropZone>
                <MudDropZone T="DropItem" identifier="drop_zone_two" Class="rounded mud-background-gray pa-6 ma-8 flex-grow-1">
                    <MudText Typo="Typo.h6" Class="mb-4">@Localizer["selected_tenants"]</MudText>
                </MudDropZone>
            </ChildContent>
            <ItemRenderer>
                <MudPaper Elevation="25" Class="pa-4 my-4">@context.id</MudPaper>
            </ItemRenderer>
        </MudDropContainer>

    </DialogContent>
    <DialogActions>
        <MudButton OnClick="Cancel">@Localizer["cancel"]</MudButton>

        <MudButton Variant="Variant.Filled" Size="@Size.Small" Color="@Color.Success" OnClick="@OK" Disabled="@(String.IsNullOrEmpty(topic_name) || String.IsNullOrEmpty(topic_url))">@Localizer["confirm"]</MudButton>
    </DialogActions>
</MudDialog>

@code {

    private string netlock_username = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        // Get the current user from the authentication state
        var user = (await AuthenticationStateProvider.GetAuthenticationStateAsync()).User;

        // Check if user is authenticated
        if (user?.Identity is not { IsAuthenticated: true })
        {
            NavigationManager.NavigateTo("/login", true);
            return;
        }

        // Retrieve email from claims
        netlock_username = user.FindFirst(ClaimTypes.Email)?.Value;

        severity = Localizer["any"];

        await Get_Tenants();
    }

    private string topic_name = String.Empty;
    private string topic_url = String.Empty;
    private string access_token = String.Empty;
    private string description = String.Empty;
    private string severity = String.Empty;
    private bool uptime_monitoring_enabled = false;
    private string tenants_json = String.Empty;

    private List<DropItem> tenants = new();

    public class DropItem
    {
        public string id { get; set; }
        public string identifier { get; set; }
    }

    private void ItemUpdated(MudItemDropInfo<DropItem> dropItem)
    {
        dropItem.Item.identifier = dropItem.DropzoneIdentifier;
    }

    [CascadingParameter]
    private IMudDialogInstance MudDialog { get; set; } = default!;

    bool password_visible;
    InputType PasswordInput = InputType.Password;
    string PasswordInputIcon = Icons.Material.Filled.VisibilityOff;

    private void Show_Password()
    {
        @if (password_visible)
        {
            password_visible = false;
            PasswordInputIcon = Icons.Material.Filled.VisibilityOff;
            PasswordInput = InputType.Password;
        }
        else
        {
            password_visible = true;
            PasswordInputIcon = Icons.Material.Filled.Visibility;
            PasswordInput = InputType.Text;
        }
    }

    private bool Form_Valid()
    {
        if (String.IsNullOrEmpty(topic_name))
            return true;
        else
            return false;
    }

    private async Task Get_Tenants()
    {
        MySqlConnection conn = new MySqlConnection(Configuration.MySQL.Connection_String);

        try
        {
            await conn.OpenAsync();

            MySqlCommand command = new MySqlCommand("SELECT * FROM tenants;", conn);
            using (DbDataReader reader = await command.ExecuteReaderAsync())
            {
                if (reader.HasRows)
                {
                    while (await reader.ReadAsync())
                    {
                        tenants.Add(new DropItem { id = reader["name"].ToString() ?? String.Empty, identifier = "drop_zone_one" });
                    }
                }
            }
        }
        catch (Exception ex)
        {
            Logging.Handler.Error("Add_Ntfy_sh_Notification_Dialog", "Get_Tenants", ex.Message);
        }
        finally
        {
            conn.Close();
        }
    }

    private async Task OK()
    {
        this.Snackbar.Configuration.ShowCloseIcon = true;
        this.Snackbar.Configuration.PositionClass = Defaults.Classes.Position.BottomRight;

        bool success = false;

        //Get all tenants from drop zone two
        var filtered_tenants = tenants.Where(item => item.identifier == "drop_zone_two").ToList();

        // foreach filtered tenant, get tenant_id
        foreach (var tenant in filtered_tenants)
        {
            int tenant_id = await Classes.MySQL.Handler.Get_Tenant_Id(tenant.id);

            // replace name with id
            tenant.id = tenant_id.ToString();
        }

        tenants_json = JsonSerializer.Serialize(filtered_tenants);

        Logging.Handler.Debug("Add_Ntfy_sh_Notification_Dialog", "tenants_json", tenants_json);

        if (tenants_json.Count() != 0)
        {
            // Add mail notification to database
            MySqlConnection conn = new MySqlConnection(Configuration.MySQL.Connection_String);

            try
            {
                // convert severity
                string sevirity_converted = String.Empty;

                if (severity == Localizer["low"])
                    sevirity_converted = "0";
                else if (severity == Localizer["moderate"])
                    sevirity_converted = "1";
                else if (severity == Localizer["high"])
                    sevirity_converted = "2";
                else if (severity == Localizer["critical"])
                    sevirity_converted = "3";
                else if (severity == Localizer["any"])
                    sevirity_converted = "4";

                // convert uptime_monitoring_enabled
                int uptime_monitoring_enabled = 0;

                if (this.uptime_monitoring_enabled)
                    uptime_monitoring_enabled = 1;
                else
                    uptime_monitoring_enabled = 0;

                await conn.OpenAsync();

                string execute_query = "INSERT INTO `ntfy_sh_notifications` (`topic_name`, `topic_url`, `access_token`, `date`, `author`, `description`, `severity`, `tenants`, `uptime_monitoring_enabled`) VALUES (@topic_name, @topic_url, @access_token, @date, @author, @description, @severity, @tenants, @uptime_monitoring_enabled);";

                MySqlCommand cmd = new MySqlCommand(execute_query, conn);
                cmd.Parameters.AddWithValue("@topic_name", topic_name);
                cmd.Parameters.AddWithValue("@topic_url", topic_url);
                cmd.Parameters.AddWithValue("@access_token", access_token);
                cmd.Parameters.AddWithValue("@date", DateTime.Now.ToString("yyyy-MM-dd HH:mm:ss"));
                cmd.Parameters.AddWithValue("@author", netlock_username);
                cmd.Parameters.AddWithValue("@description", description);
                cmd.Parameters.AddWithValue("@severity", sevirity_converted);
                cmd.Parameters.AddWithValue("@tenants", tenants_json);
                cmd.Parameters.AddWithValue("@uptime_monitoring_enabled", uptime_monitoring_enabled);

                cmd.ExecuteNonQuery();

                success = true;
            }
            catch (Exception ex)
            {
                Logging.Handler.Error("Add_Ntfy_sh_Notification_Dialog", "General error", ex.ToString());
            }
            finally
            {
                await conn.CloseAsync();
            }

            if (success)
            {
                MudDialog.Close(DialogResult.Ok("success"));
            }
            else
            {
                Snackbar.Add(Localizer["error_occurred"], Severity.Error);
            }
        }
        else
        {
            Snackbar.Add(Localizer["no_tenants_selected"], Severity.Error);
        }
    }

    private void Cancel() => MudDialog.Cancel();
}