@using MySqlConnector;
@using System.Data.Common;
@using System.Text.Json;
@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
@using Microsoft.AspNetCore.DataProtection
@using System.Net.Http.Headers
@using System.Security.Claims

@inject NavigationManager NavigationManager
@inject ILocalStorageService localStorage
@inject IDialogService DialogService
@inject ISnackbar Snackbar
@inject IJSRuntime JSRuntime
@inject IDataProtectionProvider DataProtectionProvider
@inject IStringLocalizer<Pages.Collections.Scripts.Dialogs.Add_Script_Dialog> Localizer
@inject AuthenticationStateProvider AuthenticationStateProvider

<style>
    .dialog-blurring {
    backdrop-filter: blur(10px);
    }

    @@keyframes fadeIn {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }

    .animated-text {
        animation: pulse 2s infinite ease-in-out;
    }

    @@keyframes pulse {
        0%, 100% {
            opacity: 1;
        }

        50% {
            opacity: 0.6;
        }
    }

    .wave-emoji {
        display: inline-block;
        animation: wave 2s infinite;
        transform-origin: 70% 70%;
    }

    @@keyframes wave {
        0% {
            transform: rotate(0deg);
        }

        15% {
            transform: rotate(15deg);
        }

        30% {
            transform: rotate(-10deg);
        }

        45% {
            transform: rotate(15deg);
        }

        60% {
            transform: rotate(-10deg);
        }

        75% {
            transform: rotate(15deg);
        }

        100% {
            transform: rotate(0deg);
        }
    }
</style>

<MudOverlay Visible="@loading_overlay" DarkBackground="false" Absolute="false">
    <div style="display: flex; flex-direction: column; align-items: center; justify-content: center; height: 100vh; gap: 1rem; animation: fadeIn 0.5s ease-in-out;">
        <MudProgressCircular Color="Color.Primary" Size="Size.Large" Indeterminate="true" Thickness="6" />
        <MudText Typo="Typo.h5" Class="animated-text">
            Please wait... <span class="wave-emoji">🐧</span>
        </MudText>
    </div>
</MudOverlay>

<MudDialog>
    <TitleContent>
        <MudText Typo="Typo.h5">Community Scripts</MudText>
    </TitleContent>
    <DialogContent>

        <MudAlert Class="mb-2" Severity="Severity.Warning" Icon="@Icons.Material.Filled.Warning">Here you will find a list of scripts created by the community. The scripts are not maintained by us, we recommend you to read them before using them to prevent problems. :-)</MudAlert>

		<MudButton Class="mt-5" Size="Size.Small" Variant="Variant.Filled" Color="Color.Default" StartIcon="@Icons.Material.Filled.Refresh" OnClick="@Get_Community_Scripts">Reload</MudButton>
        <MudButton Class="mt-5 ml-2" Size="Size.Small" Variant="Variant.Filled" Color="Color.Default" StartIcon="@Icons.Custom.Brands.GitHub" OnClick="@ImportFromGitHub">Import from GitHub</MudButton>

        <MudTable Class="mt-5" Height="50vh" FixedHeader="true" FixedFooter="true" Hover="true" RowsPerPage="int.MaxValue" Dense="true" Items="@scripts_mysql_data" Filter="new Func<Scripts_Entity, bool>(Scripts_Table_Filter_Func)">
            <ToolBarContent>
                <MudTextField Class="mt-0" @bind-Value="scripts_table_search_string" Placeholder="Suche" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium"></MudTextField>
            </ToolBarContent>
            <HeaderContent>
                <MudTh><MudTableSortLabel SortBy="new Func<Scripts_Entity, object>(x => x.name)" Style="white-space: nowrap;">Name</MudTableSortLabel></MudTh>
                <MudTh><MudTableSortLabel SortBy="new Func<Scripts_Entity, object>(x => x.maintainer)" Style="white-space: nowrap;">Maintainer</MudTableSortLabel></MudTh>
                <MudTh><MudTableSortLabel SortBy="new Func<Scripts_Entity, object>(x => x.contact)" Style="white-space: nowrap;">Contact</MudTableSortLabel></MudTh>
                <MudTh><MudTableSortLabel SortBy="new Func<Scripts_Entity, object>(x => x.created)" Style="white-space: nowrap;">Created</MudTableSortLabel></MudTh>
                <MudTh><MudTableSortLabel SortBy="new Func<Scripts_Entity, object>(x => x.last_edited)" Style="white-space: nowrap;">Last edited</MudTableSortLabel></MudTh>
                <MudTh><MudTableSortLabel SortBy="new Func<Scripts_Entity, object>(x => x.platform)" Style="white-space: nowrap;">Platform</MudTableSortLabel></MudTh>
                <MudTh><MudTableSortLabel SortBy="new Func<Scripts_Entity, object>(x => x.shell)" Style="white-space: nowrap;">Shell</MudTableSortLabel></MudTh>
                <MudTh><MudTableSortLabel SortBy="new Func<Scripts_Entity, object>(x => x.description)" Style="white-space: nowrap;">Description</MudTableSortLabel></MudTh>
            </HeaderContent>

            <RowTemplate Context="scripts_row">

                <MudTd DataLabel="Name" @onclick="() => Scripts_RowClickHandler(scripts_row)" @ondblclick="() => Scripts_RowDblClickHandler(scripts_row)" class="@Scripts_GetRowClass(scripts_row)" style="white-space: nowrap;">
                    <span style="display: flex; align-items: center;">
                        &nbsp;@scripts_row.name
                    </span>
                </MudTd>

                <MudTd DataLabel="Author" @onclick="() => Scripts_RowClickHandler(scripts_row)" @ondblclick="() => Scripts_RowDblClickHandler(scripts_row)" class="@Scripts_GetRowClass(scripts_row)" style="white-space: nowrap;">
                    <span style="display: flex; align-items: center;">
                        &nbsp;@scripts_row.maintainer
                    </span>
                </MudTd>

                <MudTd DataLabel="Contact" @onclick="() => Scripts_RowClickHandler(scripts_row)" @ondblclick="() => Scripts_RowDblClickHandler(scripts_row)" class="@Scripts_GetRowClass(scripts_row)" style="white-space: nowrap;">
                    <span style="display: flex; align-items: center;">
                        &nbsp;@scripts_row.contact
                    </span>
                </MudTd>

                <MudTd DataLabel="Created" @onclick="() => Scripts_RowClickHandler(scripts_row)" @ondblclick="() => Scripts_RowDblClickHandler(scripts_row)" class="@Scripts_GetRowClass(scripts_row)" style="white-space: nowrap;">
                    <span style="display: flex; align-items: center;">
                        &nbsp;@scripts_row.created
                    </span>
                </MudTd>

                <MudTd DataLabel="Last edited" @onclick="() => Scripts_RowClickHandler(scripts_row)" @ondblclick="() => Scripts_RowDblClickHandler(scripts_row)" class="@Scripts_GetRowClass(scripts_row)" style="white-space: nowrap;">
                    <span style="display: flex; align-items: center;">
                        &nbsp;@scripts_row.last_edited
                    </span>
                </MudTd>

                <MudTd DataLabel="Platform" @onclick="() => Scripts_RowClickHandler(scripts_row)" @ondblclick="() => Scripts_RowDblClickHandler(scripts_row)" class="@Scripts_GetRowClass(scripts_row)" style="white-space: nowrap;">
                    <span style="display: flex; align-items: center;">
                        &nbsp;@scripts_row.platform
                    </span>
                </MudTd>

                <MudTd DataLabel="Shell" @onclick="() => Scripts_RowClickHandler(scripts_row)" @ondblclick="() => Scripts_RowDblClickHandler(scripts_row)" class="@Scripts_GetRowClass(scripts_row)" style="white-space: nowrap;">
                    <span style="display: flex; align-items: center;">
                        &nbsp;@scripts_row.shell
                    </span>
                </MudTd>

                <MudTd DataLabel="Description" @onclick="() => Scripts_RowClickHandler(scripts_row)" @ondblclick="() => Scripts_RowDblClickHandler(scripts_row)" class="@Scripts_GetRowClass(scripts_row)" style="white-space: nowrap;">
                    <span style="display: flex; align-items: center;">
                        &nbsp;@scripts_row.description
                    </span>
                </MudTd>

            </RowTemplate>
            <PagerContent>
                <MudTablePager PageSizeOptions="new int[] { 10, 25, 50, 100, 250, 500, int.MaxValue }" RowsPerPageString="Rows per page" />
            </PagerContent>
        </MudTable>

    </DialogContent>
    <DialogActions>
        <MudButton OnClick="Cancel">Close</MudButton>
    </DialogActions>
</MudDialog>

@code {

    #region Permissions

    private string permissions_json = String.Empty;

    private bool permissions_collections_enabled = false;
    private bool permissions_collections_scripts_enabled = false;
    private bool permissions_collections_scripts_add = false;
    private bool permissions_collections_scripts_edit = false;
    private bool permissions_collections_scripts_delete = false;

    // Auth:
    private async Task<bool> Permissions()
    {
        try
        {
            bool logout = false;

            // Get the current user from the authentication state
            var user = (await AuthenticationStateProvider.GetAuthenticationStateAsync()).User;

            // Check if user is authenticated
            if (user?.Identity is not { IsAuthenticated: true })
                logout = true;

            string netlock_username = user.FindFirst(ClaimTypes.Email)?.Value;

            permissions_collections_enabled = await Classes.Authentication.Permissions.Verify_Permission(netlock_username, "collections_enabled");
            permissions_collections_scripts_enabled = await Classes.Authentication.Permissions.Verify_Permission(netlock_username, "collections_scripts_enabled");
            permissions_collections_scripts_add = await Classes.Authentication.Permissions.Verify_Permission(netlock_username, "collections_scripts_add");
            permissions_collections_scripts_edit = await Classes.Authentication.Permissions.Verify_Permission(netlock_username, "collections_scripts_edit");
            permissions_collections_scripts_delete = await Classes.Authentication.Permissions.Verify_Permission(netlock_username, "collections_scripts_delete");

            if (!permissions_collections_enabled)
                logout = true;

            if (logout) // Redirect to the login page
            {
                NavigationManager.NavigateTo("/logout", true);
                return false;
            }

            // All fine? Nice.
            return true;
        }
        catch (Exception ex)
        {
            Logging.Handler.Error("/dashboard -> Permissions", "Error", ex.ToString());
            return false;
        }
    }


    #endregion

    [CascadingParameter]
    private IMudDialogInstance MudDialog { get; set; } = default!;
    [Parameter] public string editor { get; set; } = string.Empty;

    private bool loading_overlay = false;

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await AfterInitializedAsync();
        }
    }

    private async Task AfterInitializedAsync()
    {
        if (!await Permissions())
            return;

        loading_overlay = true;
        StateHasChanged();

        await Get_Community_Scripts();

		loading_overlay = false;
        StateHasChanged();
    }

    private List<Scripts_Entity> scripts_mysql_data = new List<Scripts_Entity>();

    private class Scripts_Entity
    {
        public string? guid { get; set; }
        public string? created { get; set; }
        public string? last_edited { get; set; }
        public string? maintainer { get; set; }
        public string? contact { get; set; }
        public bool? is_admin { get; set; }
        public string? name { get; set; }
        public string? description { get; set; }
        public string? platform { get; set; }
        public string? shell { get; set; }
        public string? script { get; set; }
        public string? github_url { get; set; }
    }

    private bool Scripts_Table_Filter_Func(Scripts_Entity row)
    {
        if (string.IsNullOrEmpty(scripts_table_search_string))
            return true;

        //Search logic for each column
        return row.name.Contains(scripts_table_search_string, StringComparison.OrdinalIgnoreCase) ||
            row.description.Contains(scripts_table_search_string, StringComparison.OrdinalIgnoreCase);
    }

    private string scripts_table_sorted_column;
    private string scripts_table_search_string = String.Empty;
    private string scripts_selectedRowContent_guid = String.Empty; // Saving content of selected row
    private string scripts_selectedRowContent_script = String.Empty; // Saving content of selected row

    // Executes on row click
    private void Scripts_RowClickHandler(Scripts_Entity row)
    {
        scripts_selectedRowContent_guid = row.guid;
        scripts_selectedRowContent_script = row.script;
    }

    private async Task Scripts_RowDblClickHandler(Scripts_Entity row)
    {
        if (editor == "true")
        {
            MudDialog.Close(DialogResult.Ok(row.script));
        }
        else
        {
            scripts_selectedRowContent_guid = row.guid;

            await View_Script_Dialog(row.created, row.last_edited, row.maintainer, row.contact, row.is_admin.ToString(), row.name, row.description, row.platform, row.shell, row.script, row.guid, row.github_url);
        }
    }

    private string Scripts_GetRowClass(Scripts_Entity row)
    {
        return row.guid == scripts_selectedRowContent_guid ? ("selected-row-dark") : String.Empty;
    }

    private async Task Get_Community_Scripts()
    {
        scripts_mysql_data.Clear();

        loading_overlay = true;

        StateHasChanged();

        try
        {
            string url = Application_Settings.IsLiveEnvironment ? Application_Settings.Members_Portal_Api_Url_Live : Application_Settings.Members_Portal_Api_Url_Test;
            url = url + "/api/community/scripts/get";

            string json = await Classes.Helper.Http.Get_Request_With_Api_Key(url);

            json = Encryption.String_Encryption.Decrypt(json, Application_Settings.Obfuscation_Encryption_Password);

            scripts_mysql_data = JsonSerializer.Deserialize<List<Scripts_Entity>>(json);
        }
        catch (Exception ex)
        {
            Logging.Handler.Error("Online_Mode.Handler.Get_Community_Scripts", "General error", ex.ToString());
        }
        finally
        {
            loading_overlay = false;
            StateHasChanged();
        }
    }

    private bool view_script_dialog_open = false;

    private async Task View_Script_Dialog(string created, string last_edited, string maintainer, string contact, string is_admin, string name, string description, string platform, string shell, string script, string guid, string github_url)
    {
        try
        {
            if (view_script_dialog_open)
                return;

            var options = new DialogOptions
            {
                CloseButton = true,
                FullWidth = true,
                MaxWidth = MaxWidth.ExtraLarge,
                BackgroundClass = "dialog-blurring",
            };

            DialogParameters parameters = new DialogParameters();
            parameters.Add("created", created);
            parameters.Add("last_edited", last_edited);
            parameters.Add("maintainer", maintainer);
            parameters.Add("contact", contact);
            parameters.Add("is_admin", is_admin);
            parameters.Add("name", name);
            parameters.Add("description", description);
            parameters.Add("platform", platform);
            parameters.Add("shell", shell);
            parameters.Add("script", script);
            parameters.Add("guid", guid);
            parameters.Add("github_url", github_url);

            view_script_dialog_open = true;

            var result = await this.DialogService.Show<Pages.Collections.Scripts.Community_Scripts.View_Dialog>(string.Empty, parameters, options).Result;

            if (result.Canceled)
                return;

            // if editor = "true" then we need to reply the script
            if (editor == "true")
            {
                MudDialog.Close(DialogResult.Ok(result.Data.ToString()));
            }
            else if (result.Data.ToString() == "revoked")
            {
                await Get_Community_Scripts();
            }
            else if (result.Data.ToString() == "updated")
			{
				await Get_Community_Scripts();
			}
			
            Logging.Handler.Debug("/community/scripts -> View_Script_Dialog", "Result", result.Data.ToString());
        }
        catch (Exception ex)
        {
            Logging.Handler.Error("/community/scripts -> View_Script_Dialog", "Result", ex.ToString());
        }
        finally
        {
            view_script_dialog_open = false;
        }
    }

    private async Task ImportFromGitHub()
    {
        Snackbar.Configuration.ShowCloseIcon = true;
        Snackbar.Configuration.PositionClass = Defaults.Classes.Position.BottomRight;

        loading_overlay = true;
        StateHasChanged();

        try
        {
            var options = new DialogOptions
                {
                    CloseButton = true,
                    FullWidth = true,
                    MaxWidth = MaxWidth.Medium,
                    BackgroundClass = "dialog-blurring",
                };

            var parameters = new DialogParameters();
            var dialog = DialogService.Show<Pages.Collections.Scripts.Community_Scripts.Import_From_GitHub_Dialog>("Import from GitHub", parameters, options);

            var messageResult = await dialog.Result;
            string script_url = String.Empty;

            if (!messageResult.Canceled)
                script_url = messageResult.Data.ToString();
            else
                return;

            // Build json object (url)
            var json = new
            {
                url = script_url
            };

            // Convert to json string
            string json_string = JsonSerializer.Serialize(json);

            string url = Application_Settings.IsLiveEnvironment ? Application_Settings.Members_Portal_Api_Url_Live : Application_Settings.Members_Portal_Api_Url_Test;
            url = url + "/api/community/scripts/request_script";
            string result = await Classes.Helper.Http.POST_Request_Json_With_Api_Key(url, json_string);

            // 0 = imported, 1 = updated, 2 = script not found, 3 = error
            if (result == "0")
            {
                await Get_Community_Scripts();
                Snackbar.Add("Script imported successfully.", Severity.Success);
            }
            else if (result == "1")
            {
                Snackbar.Add("Script already exists. Script synced successfully.", Severity.Info);
            }
            else if (result == "2")
            {
                Snackbar.Add("Script not found. Make sure your URL is valid.", Severity.Error);
            }
            else if (result == "3")
            {
                Snackbar.Add("Error while importing script. Make sure your URL is valid.", Severity.Error);
            }
        }
        catch (Exception ex)
        {
            Logging.Handler.Error("Online_Mode.Handler.ImportFromGitHub", "General error", ex.ToString());
        }
        finally
        {
			loading_overlay = false;
			StateHasChanged();
        }
    }

    private void Cancel() => MudDialog.Cancel();
}