@page "/manage_notifications"
@using MySqlConnector;
@using System.Data.Common;
@using System.Text.Json;
@using System.Xml.Serialization;
@using System.Text;
@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage;
@using Microsoft.AspNetCore.DataProtection;
@using System.Security.Claims

@inject NavigationManager NavigationManager
@inject ILocalStorageService localStorage
@inject IDialogService DialogService
@inject ISnackbar Snackbar
@inject IJSRuntime JSRuntime
@inject IDataProtectionProvider DataProtectionProvider
@inject IStringLocalizer<Pages.Settings.Notifications.Manage_Notifications> Localizer
@inject AuthenticationStateProvider AuthenticationStateProvider

<style>
    .selected-row-light {
        background-color: lightgray;
    }

    .selected-row-dark {
        background-color: #141414;
    }

    .custom-expansion-panel {
        background-color: transparent;
    }

    .dialog-blurring {
        backdrop-filter: blur(10px);
    }

    .mud-table-cell-custom-group {
        font-weight: 500;
    }

    .mud-table-cell-custom-group-footer {
        padding-bottom: 50px;
        text-align: right;
    }

    @@media only screen and (max-width: 768px) {
        .desktop-icon {
            display: none;
        }
    }
</style>

<AuthorizeView>

    <Authorized>

        @if (permissions_settings_enabled && permissions_settings_notifications_enabled)
        {
            <MudText Typo="Typo.h5">@Localizer["title"]</MudText>

            <MudTabs Class="mt-5" KeepPanelsAlive=true Elevation="4" Rounded="false" Color="@Color.Default" @bind-ActivePanelIndex=@settings_notifications_panel_index OnActivePanelIndexChanged="@Save_Panel_Index()">

                @if (permissions_settings_notifications_mail_enabled)
                {
                    <MudTabPanel tabindex="0" Text="@Localizer["e_mail"]">
                        <MudPaper>

                            @if (permissions_settings_notifications_mail_add)
                            {
                                <MudButton Class="mt-2 ml-2" Size="Size.Small" Color="Color.Default" Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Mail" OnClick="@Add_Mail_Notification_Dialog">@Localizer["add"]</MudButton>
                            }

                            @if (permissions_settings_notifications_mail_smtp)
                            {
                                <MudButton Class="mt-2 ml-2" Size="Size.Small" Color="Color.Default" Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Settings" OnClick="@SMTP_Settings_Dialog">@Localizer["smtp_settings"]</MudButton>
                            }
                            
                            <MudTable Class="mt-0" Height="61vh" FixedHeader="true" FixedFooter="true" Hover="true" RowsPerPage="25" Dense="true" Items="@mail_notifications_mysql_data" Filter="new Func<Mail_Notifications_Entity, bool>(Mail_Notifications_Table_Filter_Func)">
                                <ToolBarContent>
                                    <MudTextField @bind-Value="mail_notifications_table_search_string" Placeholder="@Localizer["search"]" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"></MudTextField>
                                </ToolBarContent>
                                <HeaderContent>
                                    <MudTh><MudTableSortLabel SortBy="new Func<Mail_Notifications_Entity, object>(x => x.id)" style="white-space: nowrap;">ID</MudTableSortLabel></MudTh>
                                    <MudTh><MudTableSortLabel SortBy="new Func<Mail_Notifications_Entity, object>(x => x.mail_address)" style="white-space: nowrap;">@Localizer["e_mail_address"]</MudTableSortLabel></MudTh>
                                    <MudTh><MudTableSortLabel SortBy="new Func<Mail_Notifications_Entity, object>(x => x.date)" style="white-space: nowrap;">@Localizer["created"]</MudTableSortLabel></MudTh>
                                    <MudTh><MudTableSortLabel SortBy="new Func<Mail_Notifications_Entity, object>(x => x.author)" style="white-space: nowrap;">@Localizer["author"]</MudTableSortLabel></MudTh>
                                    <MudTh><MudTableSortLabel SortBy="new Func<Mail_Notifications_Entity, object>(x => x.tenants)" style="white-space: nowrap;">@Localizer["tenants"]</MudTableSortLabel></MudTh>
                                    <MudTh></MudTh>
                                </HeaderContent>
                                <RowTemplate Context="mail_row">
                                    <MudTd DataLabel="ID" @onclick="() => Mail_Notifications_RowClickHandler(mail_row)" @ondblclick="() => Mail_Notifications_RowDblClickHandler(mail_row)" class="@Mail_Notifications_GetRowClass(mail_row)" style="white-space: nowrap;">
                                        <span style="display: flex; align-items: center;">
                                            <MudIcon Icon="@Icons.Material.Filled.Numbers" Size="Size.Small" />&nbsp;@mail_row.id
                                        </span>
                                    </MudTd>

                                    <MudTd DataLabel="@Localizer["e_mail_address"]" @onclick="() => Mail_Notifications_RowClickHandler(mail_row)" @ondblclick="() => Mail_Notifications_RowDblClickHandler(mail_row)" class="@Mail_Notifications_GetRowClass(mail_row)" style="white-space: nowrap;">
                                        <span style="display: flex; align-items: center;">
                                            <MudIcon Icon="@Icons.Material.Filled.Mail" Size="Size.Small" />&nbsp;@mail_row.mail_address
                                        </span>
                                    </MudTd>

                                    <MudTd DataLabel="@Localizer["created"]" @onclick="() => Mail_Notifications_RowClickHandler(mail_row)" @ondblclick="() => Mail_Notifications_RowDblClickHandler(mail_row)" class="@Mail_Notifications_GetRowClass(mail_row)" style="white-space: nowrap;">
                                        <span style="display: flex; align-items: center;">
                                            <MudIcon Icon="@Icons.Material.Filled.DateRange" Size="Size.Small" />&nbsp;@mail_row.date
                                        </span>
                                    </MudTd>

                                    <MudTd DataLabel="@Localizer["author"]" @onclick="() => Mail_Notifications_RowClickHandler(mail_row)" @ondblclick="() => Mail_Notifications_RowDblClickHandler(mail_row)" class="@Mail_Notifications_GetRowClass(mail_row)" style="white-space: nowrap;">
                                        <span style="display: flex; align-items: center;">
                                            <MudIcon Icon="@Icons.Material.Filled.SupportAgent" Size="Size.Small" />&nbsp;@mail_row.author
                                        </span>
                                    </MudTd>

                                    <MudTd DataLabel="@Localizer["tenants"]" @onclick="() => Mail_Notifications_RowClickHandler(mail_row)" @ondblclick="() => Mail_Notifications_RowDblClickHandler(mail_row)" class="@Mail_Notifications_GetRowClass(mail_row)" style="white-space: nowrap;">
                                        <span style="display: flex; align-items: center;">
                                            <MudIcon Icon="@Icons.Material.Filled.People" Size="Size.Small" />&nbsp;@mail_row.tenants
                                        </span>
                                    </MudTd>

                                    <MudTd DataLabel="" @onclick="() => Mail_Notifications_RowClickHandler(mail_row)" class="@Mail_Notifications_GetRowClass(mail_row)" style="white-space: nowrap;">
                                        <span style="display: flex; align-items: center;">
                                            @if (permissions_settings_notifications_mail_test)
                                            {
                                                <MudButton Size="Size.Small" Variant="@Variant.Filled" Color="@Color.Default" StartIcon="@Icons.Material.Filled.Send" OnClick="@(() => Send_Mail(mail_row.mail_address))">@Localizer["test_alarm"]</MudButton>
                                            }

                                            @if (permissions_settings_notifications_mail_edit)
                                            {
                                                <MudButton Class="ml-2" Size="Size.Small" Variant="@Variant.Filled" Color="@Color.Default" StartIcon="@Icons.Material.Filled.Edit" OnClick="@(() => Edit_Mail_Notification_Dialog(mail_row.id, mail_row.mail_address, mail_row.description, mail_row.severity, mail_row.tenants_json, mail_row.uptime_monitoring_enabled))">@Localizer["edit"]</MudButton>
                                            }

                                            @if (permissions_settings_notifications_mail_delete)
                                            {
                                                <MudButton Class="ml-2" Size="Size.Small" Variant="@Variant.Filled" Color="@Color.Error" StartIcon="@Icons.Material.Filled.Recycling" OnClick="@(() => Delete_Mail_Notification_Dialog(mail_row.id))">@Localizer["delete"]</MudButton>
                                            }
                                        </span>
                                    </MudTd>

                                </RowTemplate>
                                <PagerContent>
                                    <MudTablePager PageSizeOptions="new int[] { 10, 25, 50, 100, 250, 500, int.MaxValue }" RowsPerPageString="@Localizer["rows_per_page"]" />
                                </PagerContent>
                            </MudTable>

                        </MudPaper>
                    </MudTabPanel>
                }
                
                @if (permissions_settings_notifications_microsoft_teams_enabled)
                {
                    <MudTabPanel tabindex="1" Text="Microsoft Teams">
                        <MudPaper>

                            @if (permissions_settings_notifications_microsoft_teams_add)
                            {
                                <MudButton Class="mt-2 ml-2" Size="Size.Small" Color="Color.Default" Variant="Variant.Filled" StartIcon="@Icons.Custom.Brands.Microsoft" OnClick="@Add_Microsoft_Teams_Notification_Dialog">@Localizer["add"]</MudButton>
                            }
                            
                            <MudTable Class="mt-0" Height="60vh" FixedHeader="true" FixedFooter="true" Hover="true" RowsPerPage="25" Dense="true" Items="@microsoft_teams_notifications_mysql_data" Filter="new Func<Microsoft_Teams_Notifications_Entity, bool>(Microsoft_Teams_Notifications_Table_Filter_Func)">
                                <ToolBarContent>
                                    <MudTextField @bind-Value="microsoft_teams_notifications_table_search_string" Placeholder="@Localizer["search"]" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"></MudTextField>
                                </ToolBarContent>
                                <HeaderContent>
                                    <MudTh><MudTableSortLabel SortBy="new Func<Microsoft_Teams_Notifications_Entity, object>(x => x.connector_name)" style="white-space: nowrap;">@Localizer["name"]</MudTableSortLabel></MudTh>
                                    <MudTh><MudTableSortLabel SortBy="new Func<Microsoft_Teams_Notifications_Entity, object>(x => x.connector_url)" style="white-space: nowrap;">@Localizer["connector_webhook_url"]</MudTableSortLabel></MudTh>
                                    <MudTh><MudTableSortLabel SortBy="new Func<Microsoft_Teams_Notifications_Entity, object>(x => x.date)" style="white-space: nowrap;">@Localizer["created"]</MudTableSortLabel></MudTh>
                                    <MudTh><MudTableSortLabel SortBy="new Func<Microsoft_Teams_Notifications_Entity, object>(x => x.author)" style="white-space: nowrap;">@Localizer["author"]</MudTableSortLabel></MudTh>
                                    <MudTh><MudTableSortLabel SortBy="new Func<Microsoft_Teams_Notifications_Entity, object>(x => x.tenants)" style="white-space: nowrap;">@Localizer["tenants"]</MudTableSortLabel></MudTh>
                                    <MudTh></MudTh>
                                </HeaderContent>
                                <RowTemplate Context="teams_row">

                                    <MudTd DataLabel="Name" @onclick="() => Microsoft_Teams_Notifications_RowClickHandler(teams_row)" @ondblclick="() => Microsoft_Teams_Notifications_RowDblClickHandler(teams_row)" class="@Microsoft_Teams_Notifications_GetRowClass(teams_row)" style="white-space: nowrap;">
                                        <span style="display: flex; align-items: center;">
                                            <MudIcon Icon="@Icons.Custom.Brands.Microsoft" Size="Size.Small" />&nbsp;@teams_row.connector_name
                                        </span>
                                    </MudTd>

                                    <MudTd DataLabel="@Localizer["connector_webhook_url"]" @onclick="() => Microsoft_Teams_Notifications_RowClickHandler(teams_row)" @ondblclick="() => Microsoft_Teams_Notifications_RowDblClickHandler(teams_row)" class="@Microsoft_Teams_Notifications_GetRowClass(teams_row)" style="white-space: nowrap;">
                                        <span style="display: flex; align-items: center;">
                                            <MudIcon Icon="@Icons.Material.Filled.Link" Size="Size.Small" />&nbsp;
                                            <input type="password" class="mud-input mud-input-text" value="@teams_row.connector_url" disabled />
                                        </span>
                                    </MudTd>

                                    <MudTd DataLabel="@Localizer["created"]" @onclick="() => Microsoft_Teams_Notifications_RowClickHandler(teams_row)" @ondblclick="() => Microsoft_Teams_Notifications_RowDblClickHandler(teams_row)" class="@Microsoft_Teams_Notifications_GetRowClass(teams_row)" style="white-space: nowrap;">
                                        <span style="display: flex; align-items: center;">
                                            <MudIcon Icon="@Icons.Material.Filled.DateRange" Size="Size.Small" />&nbsp;@teams_row.date
                                        </span>
                                    </MudTd>

                                    <MudTd DataLabel="@Localizer["author"]" @onclick="() => Microsoft_Teams_Notifications_RowClickHandler(teams_row)" @ondblclick="() => Microsoft_Teams_Notifications_RowDblClickHandler(teams_row)" class="@Microsoft_Teams_Notifications_GetRowClass(teams_row)" style="white-space: nowrap;">
                                        <span style="display: flex; align-items: center;">
                                            <MudIcon Icon="@Icons.Material.Filled.SupportAgent" Size="Size.Small" />&nbsp;@teams_row.author
                                        </span>
                                    </MudTd>

                                    <MudTd DataLabel="@Localizer["tenants"]" @onclick="() => Microsoft_Teams_Notifications_RowClickHandler(teams_row)" @ondblclick="() => Microsoft_Teams_Notifications_RowDblClickHandler(teams_row)" class="@Microsoft_Teams_Notifications_GetRowClass(teams_row)" style="white-space: nowrap;">
                                        <span style="display: flex; align-items: center;">
                                            <MudIcon Icon="@Icons.Material.Filled.People" Size="Size.Small" />&nbsp;@teams_row.tenants
                                        </span>
                                    </MudTd>

                                    <MudTd DataLabel="@Localizer["author"]" @onclick="() => Microsoft_Teams_Notifications_RowClickHandler(teams_row)" class="@Microsoft_Teams_Notifications_GetRowClass(teams_row)">
                                        <span style="display: flex; align-items: center;">
                                            @if (permissions_settings_notifications_microsoft_teams_test)
                                            {
                                                <MudButton Class="ml-2" Size="Size.Small" Variant="@Variant.Filled" Color="@Color.Default" StartIcon="@Icons.Material.Filled.Send" OnClick="@(() => Send_Microsoft_Teams_Message(teams_row.id, teams_row.connector_name))">@Localizer["test_alarm"]</MudButton>
                                            }

                                            @if (permissions_settings_notifications_microsoft_teams_edit)
                                            {
                                                <MudButton Class="ml-2" Size="Size.Small" Variant="@Variant.Filled" Color="@Color.Default" StartIcon="@Icons.Material.Filled.Edit" OnClick="@(() => Edit_Microsoft_Teams_Notification_Dialog(teams_row.id, teams_row.connector_name, teams_row.connector_url, teams_row.description, teams_row.severity, teams_row.tenants_json, teams_row.uptime_monitoring_enabled))">@Localizer["edit"]</MudButton>
                                            }

                                            @if (permissions_settings_notifications_microsoft_teams_delete)
                                            {
                                                <MudButton Class="ml-2" Size="Size.Small" Variant="@Variant.Filled" Color="@Color.Error" StartIcon="@Icons.Material.Filled.Recycling" OnClick="@(() => Delete_Microsoft_Teams_Notification_Dialog(teams_row.id))">@Localizer["delete"]</MudButton>
                                            }
                                        </span>
                                    </MudTd>
                                </RowTemplate>
                                <PagerContent>
                                    <MudTablePager PageSizeOptions="new int[] { 10, 25, 50, 100, 250, 500, int.MaxValue }" RowsPerPageString="@Localizer["rows_per_page"]" />
                                </PagerContent>
                            </MudTable>

                        </MudPaper>
                    </MudTabPanel>
                }
                
                @if (permissions_settings_notifications_telegram_enabled)
                {
                    <MudTabPanel tabindex="2" Text="Telegram">
                        <MudPaper>

                            @if (permissions_settings_notifications_telegram_add)
                            {
                                <MudButton Class="mt-2 ml-2" Size="Size.Small" Color="Color.Default" Variant="Variant.Filled" StartIcon="@Icons.Custom.Brands.Telegram" OnClick="@Add_Telegram_Notification_Dialog">@Localizer["add"]</MudButton>
                            }
                            
                            <MudTable Class="mt-0" Height="60vh" FixedHeader="true" FixedFooter="true" Hover="true" RowsPerPage="25" Dense="true" Items="@telegram_notifications_mysql_data" Filter="new Func<Telegram_Notifications_Entity, bool>(Telegram_Notifications_Table_Filter_Func)">
                                <ToolBarContent>
                                    <MudTextField @bind-Value="telegram_notifications_table_search_string" Placeholder="@Localizer["search"]" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"></MudTextField>
                                </ToolBarContent>
                                <HeaderContent>
                                    <MudTh><MudTableSortLabel SortBy="new Func<Telegram_Notifications_Entity, object>(x => x.bot_name)" style="white-space: nowrap;">Name</MudTableSortLabel></MudTh>
                                    <MudTh><MudTableSortLabel SortBy="new Func<Telegram_Notifications_Entity, object>(x => x.bot_token)" style="white-space: nowrap;">Bot Token</MudTableSortLabel></MudTh>
                                    <MudTh><MudTableSortLabel SortBy="new Func<Telegram_Notifications_Entity, object>(x => x.chat_id)" style="white-space: nowrap;">Chat ID</MudTableSortLabel></MudTh>
                                    <MudTh><MudTableSortLabel SortBy="new Func<Telegram_Notifications_Entity, object>(x => x.date)" style="white-space: nowrap;">@Localizer["created"]</MudTableSortLabel></MudTh>
                                    <MudTh><MudTableSortLabel SortBy="new Func<Telegram_Notifications_Entity, object>(x => x.author)" style="white-space: nowrap;">@Localizer["author"]</MudTableSortLabel></MudTh>
                                    <MudTh><MudTableSortLabel SortBy="new Func<Telegram_Notifications_Entity, object>(x => x.tenants)" style="white-space: nowrap;">@Localizer["tenants"]</MudTableSortLabel></MudTh>
                                    <MudTh></MudTh>
                                </HeaderContent>
                                <RowTemplate Context="telegram_row">

                                    <MudTd DataLabel="Name" @onclick="() => Telegram_Notifications_RowClickHandler(telegram_row)" @ondblclick="() => Telegram_Notifications_RowDblClickHandler(telegram_row)" class="@Telegram_Notifications_GetRowClass(telegram_row)" style="white-space: nowrap;">
                                        <span style="display: flex; align-items: center;">
                                            <MudIcon Icon="@Icons.Material.Filled.Abc" Size="Size.Small" />&nbsp;@telegram_row.bot_name
                                        </span>
                                    </MudTd>

                                    <MudTd DataLabel="Bot Token" @onclick="() => Telegram_Notifications_RowClickHandler(telegram_row)" @ondblclick="() => Telegram_Notifications_RowDblClickHandler(telegram_row)" class="@Telegram_Notifications_GetRowClass(telegram_row)" style="white-space: nowrap;">
                                        <span style="display: flex; align-items: center;">
                                            <MudIcon Icon="@Icons.Material.Filled.Token" Size="Size.Small" />&nbsp;
                                            <input type="password" class="mud-input mud-input-text" value="@telegram_row.bot_token" disabled />
                                        </span>
                                    </MudTd>

                                    <MudTd DataLabel="Chat ID" @onclick="() => Telegram_Notifications_RowClickHandler(telegram_row)" @ondblclick="() => Telegram_Notifications_RowDblClickHandler(telegram_row)" class="@Telegram_Notifications_GetRowClass(telegram_row)" style="white-space: nowrap;">
                                        <span style="display: flex; align-items: center;">
                                            <MudIcon Icon="@Icons.Material.Filled.Chat" Size="Size.Small" />&nbsp;
                                            <input type="password" class="mud-input mud-input-text" value="@telegram_row.chat_id" disabled />
                                        </span>
                                    </MudTd>

                                    <MudTd DataLabel="@Localizer["created"]" @onclick="() => Telegram_Notifications_RowClickHandler(telegram_row)" @ondblclick="() => Telegram_Notifications_RowDblClickHandler(telegram_row)" class="@Telegram_Notifications_GetRowClass(telegram_row)" style="white-space: nowrap;">
                                        <span style="display: flex; align-items: center;">
                                            <MudIcon Icon="@Icons.Material.Filled.DateRange" Size="Size.Small" />&nbsp;@telegram_row.date
                                        </span>
                                    </MudTd>

                                    <MudTd DataLabel="@Localizer["author"]" @onclick="() => Telegram_Notifications_RowClickHandler(telegram_row)" @ondblclick="() => Telegram_Notifications_RowDblClickHandler(telegram_row)" class="@Telegram_Notifications_GetRowClass(telegram_row)" style="white-space: nowrap;">
                                        <span style="display: flex; align-items: center;">
                                            <MudIcon Icon="@Icons.Material.Filled.SupportAgent" Size="Size.Small" />&nbsp;@telegram_row.author
                                        </span>
                                    </MudTd>

                                    <MudTd DataLabel="@Localizer["tenants"]" @onclick="() => Telegram_Notifications_RowClickHandler(telegram_row)" @ondblclick="() => Telegram_Notifications_RowDblClickHandler(telegram_row)" class="@Telegram_Notifications_GetRowClass(telegram_row)" style="white-space: nowrap;">
                                        <span style="display: flex; align-items: center;">
                                            <MudIcon Icon="@Icons.Material.Filled.People" Size="Size.Small" />&nbsp;@telegram_row.tenants
                                        </span>
                                    </MudTd>

                                    <MudTd DataLabel="@Localizer["author"]" @onclick="() => Telegram_Notifications_RowClickHandler(telegram_row)" class="@Telegram_Notifications_GetRowClass(telegram_row)" style="white-space: nowrap;">
                                        <span style="display: flex; align-items: center;">
                                            @if (permissions_settings_notifications_telegram_test)
                                            {
                                                <MudButton Class="ml-2" Size="Size.Small" Variant="@Variant.Filled" Color="@Color.Default" StartIcon="@Icons.Material.Filled.Send" OnClick="@(() => Send_Telegram_Message(telegram_row.id, telegram_row.bot_name))">@Localizer["test_alarm"]</MudButton>
                                            }

                                            @if (permissions_settings_notifications_telegram_edit)
                                            {
                                                <MudButton Class="ml-2" Size="Size.Small" Variant="@Variant.Filled" Color="@Color.Default" StartIcon="@Icons.Material.Filled.Edit" OnClick="@(() => Edit_Telegram_Notification_Dialog(telegram_row.id, telegram_row.bot_name, telegram_row.bot_token, telegram_row.chat_id, telegram_row.description, telegram_row.severity, telegram_row.tenants_json, telegram_row.uptime_monitoring_enabled))">@Localizer["edit"]</MudButton>
                                            }

                                            @if (permissions_settings_notifications_telegram_delete)
                                            {
                                                <MudButton Class="ml-2" Size="Size.Small" Variant="@Variant.Filled" Color="@Color.Error" StartIcon="@Icons.Material.Filled.Recycling" OnClick="@(() => Delete_Telegram_Notification_Dialog(telegram_row.id))">@Localizer["delete"]</MudButton>
                                            }
                                        </span>
                                    </MudTd>
                                </RowTemplate>
                                <PagerContent>
                                    <MudTablePager PageSizeOptions="new int[] { 10, 25, 50, 100, 250, 500, int.MaxValue }" RowsPerPageString="@Localizer["rows_per_page"]" />
                                </PagerContent>
                            </MudTable>
                        </MudPaper>
                    </MudTabPanel>
                }
                
                @if (permissions_settings_notifications_ntfysh_enabled)
                {
                    <MudTabPanel tabindex="3" Text="Ntfy.sh">
                        <MudPaper>

                            @if (permissions_settings_notifications_ntfysh_add)
                            {
                                <MudButton Class="mt-2 ml-2" Size="Size.Small" Color="Color.Default" Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Topic" OnClick="@Add_Ntfy_sh_Notification_Dialog">@Localizer["add"]</MudButton>
                            }
                            
                            <MudTable Class="mt-0" Height="60vh" FixedHeader="true" FixedFooter="true" Hover="true" RowsPerPage="25" Dense="true" Items="@ntfy_sh_notifications_mysql_data" Filter="new Func<Ntfy_sh_Notifications_Entity, bool>(Ntfy_sh_Notifications_Table_Filter_Func)">
                                <ToolBarContent>
                                    <MudTextField @bind-Value="ntfy_sh_notifications_table_search_string" Placeholder="@Localizer["search"]" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"></MudTextField>
                                </ToolBarContent>
                                <HeaderContent>
                                    <MudTh Sortable="true" @onclick="() => ntfy_sh_notifications_table_sorted_column = (nameof(Ntfy_sh_Notifications_Entity.topic_name))" style="white-space: nowrap;">@Localizer["topic"]</MudTh>
                                    <MudTh Sortable="true" @onclick="() => ntfy_sh_notifications_table_sorted_column = (nameof(Ntfy_sh_Notifications_Entity.topic_url))" style="white-space: nowrap;">Url</MudTh>
                                    <MudTh Sortable="true" @onclick="() => ntfy_sh_notifications_table_sorted_column = (nameof(Ntfy_sh_Notifications_Entity.access_token))" style="white-space: nowrap;">Token</MudTh>
                                    <MudTh Sortable="true" @onclick="() => ntfy_sh_notifications_table_sorted_column = (nameof(Ntfy_sh_Notifications_Entity.date))" style="white-space: nowrap;">@Localizer["created"]</MudTh>
                                    <MudTh Sortable="true" @onclick="() => ntfy_sh_notifications_table_sorted_column = (nameof(Ntfy_sh_Notifications_Entity.author))" style="white-space: nowrap;">@Localizer["author"]</MudTh>
                                    <MudTh Sortable="true" @onclick="() => ntfy_sh_notifications_table_sorted_column = (nameof(Ntfy_sh_Notifications_Entity.tenants))" style="white-space: nowrap;">@Localizer["tenants"]</MudTh>
                                    <MudTh></MudTh>
                                </HeaderContent>
                                <RowTemplate Context="ntfy_sh_row">

                                    <MudTd DataLabel="@Localizer["topic"]" @onclick="() => Ntfy_sh_Notifications_RowClickHandler(ntfy_sh_row)" @ondblclick="() => Ntfy_sh_Notifications_RowDblClickHandler(ntfy_sh_row)" class="@Ntfy_sh_Notifications_GetRowClass(ntfy_sh_row)" style="white-space: nowrap;">
                                        <span style="display: flex; align-items: center;">
                                            <MudIcon Icon="@Icons.Material.Filled.Topic" Size="Size.Small" />&nbsp;@ntfy_sh_row.topic_name
                                        </span>
                                    </MudTd>

                                    <MudTd DataLabel="Url" @onclick="() => Ntfy_sh_Notifications_RowClickHandler(ntfy_sh_row)" @ondblclick="() => Ntfy_sh_Notifications_RowDblClickHandler(ntfy_sh_row)" class="@Ntfy_sh_Notifications_GetRowClass(ntfy_sh_row)" style="white-space: nowrap;">
                                        <span style="display: flex; align-items: center;">
                                            <MudIcon Icon="@Icons.Material.Filled.Link" Size="Size.Small" />&nbsp;
                                            <input type="password" class="mud-input mud-input-text" value="@ntfy_sh_row.topic_url" disabled />
                                        </span>
                                    </MudTd>

                                    <MudTd DataLabel="Token" @onclick="() => Ntfy_sh_Notifications_RowClickHandler(ntfy_sh_row)" @ondblclick="() => Ntfy_sh_Notifications_RowDblClickHandler(ntfy_sh_row)" class="@Ntfy_sh_Notifications_GetRowClass(ntfy_sh_row)" style="white-space: nowrap;">
                                        <span style="display: flex; align-items: center;">
                                            <MudIcon Icon="@Icons.Material.Filled.Token" Size="Size.Small" />&nbsp;
                                            <input type="password" class="mud-input mud-input-text" value="@ntfy_sh_row.access_token" disabled />
                                        </span>
                                    </MudTd>

                                    <MudTd DataLabel="@Localizer["created"]" @onclick="() => Ntfy_sh_Notifications_RowClickHandler(ntfy_sh_row)" @ondblclick="() => Ntfy_sh_Notifications_RowDblClickHandler(ntfy_sh_row)" class="@Ntfy_sh_Notifications_GetRowClass(ntfy_sh_row)" style="white-space: nowrap;">
                                        <span style="display: flex; align-items: center;">
                                            <MudIcon Icon="@Icons.Material.Filled.DateRange" Size="Size.Small" />&nbsp;@ntfy_sh_row.date
                                        </span>
                                    </MudTd>

                                    <MudTd DataLabel="@Localizer["author"]" @onclick="() => Ntfy_sh_Notifications_RowClickHandler(ntfy_sh_row)" @ondblclick="() => Ntfy_sh_Notifications_RowDblClickHandler(ntfy_sh_row)" class="@Ntfy_sh_Notifications_GetRowClass(ntfy_sh_row)" style="white-space: nowrap;">
                                        <span style="display: flex; align-items: center;">
                                            <MudIcon Icon="@Icons.Material.Filled.SupportAgent" Size="Size.Small" />&nbsp;@ntfy_sh_row.author
                                        </span>
                                    </MudTd>

                                    <MudTd DataLabel="@Localizer["tenants"]" @onclick="() => Ntfy_sh_Notifications_RowClickHandler(ntfy_sh_row)" @ondblclick="() => Ntfy_sh_Notifications_RowDblClickHandler(ntfy_sh_row)" class="@Ntfy_sh_Notifications_GetRowClass(ntfy_sh_row)" style="white-space: nowrap;">
                                        <span style="display: flex; align-items: center;">
                                            <MudIcon Icon="@Icons.Material.Filled.People" Size="Size.Small" />&nbsp;@ntfy_sh_row.tenants
                                        </span>
                                    </MudTd>

                                    <MudTd DataLabel="@Localizer["author"]" @onclick="() => Ntfy_sh_Notifications_RowClickHandler(ntfy_sh_row)" class="@Ntfy_sh_Notifications_GetRowClass(ntfy_sh_row)" style="white-space: nowrap;">
                                        <span style="display: flex; align-items: center;">
                                            @if (permissions_settings_notifications_ntfysh_test)
                                            {
                                                <MudButton Class="ml-2" Size="Size.Small" Variant="@Variant.Filled" Color="@Color.Default" StartIcon="@Icons.Material.Filled.Send" OnClick="@(() => Send_Ntfy_sh_Message(ntfy_sh_row.id, ntfy_sh_row.topic_name))">@Localizer["test_alarm"]</MudButton>
                                            }

                                            @if (permissions_settings_notifications_ntfysh_edit)
                                            {
                                                <MudButton Class="ml-2" Size="Size.Small" Variant="@Variant.Filled" Color="@Color.Default" StartIcon="@Icons.Material.Filled.Edit" OnClick="@(() => Edit_Ntfy_sh_Notification_Dialog(ntfy_sh_row.id, ntfy_sh_row.topic_name, ntfy_sh_row.topic_url, ntfy_sh_row.access_token, ntfy_sh_row.description, ntfy_sh_row.severity, ntfy_sh_row.tenants_json, ntfy_sh_row.uptime_monitoring_enabled))">@Localizer["edit"]</MudButton>
                                            }

                                            @if (permissions_settings_notifications_ntfysh_delete)
                                            {
                                                <MudButton Class="ml-2" Size="Size.Small" Variant="@Variant.Filled" Color="@Color.Error" StartIcon="@Icons.Material.Filled.Recycling" OnClick="@(() => Delete_Ntfy_sh_Notification_Dialog(ntfy_sh_row.id))">@Localizer["delete"]</MudButton>
                                            }
                                        </span>
                                    </MudTd>
                                </RowTemplate>
                                <PagerContent>
                                    <MudTablePager PageSizeOptions="new int[] { 10, 25, 50, 100, 250, 500, int.MaxValue }" RowsPerPageString="@Localizer["rows_per_page"]" />
                                </PagerContent>
                            </MudTable>
                        </MudPaper>
                    </MudTabPanel>
                }
                
            </MudTabs>
        }

        </Authorized>
</AuthorizeView>