@page "/manage_jobs"
@using MySqlConnector;
@using System.Data.Common;
@using System.Text.Json;
@using System.Text.Json.Nodes;
@using System.Xml.Serialization;
@using System.Text;
@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage;
@using Microsoft.AspNetCore.DataProtection;
@using System.Security.Claims

@inject NavigationManager NavigationManager
@inject ILocalStorageService localStorage
@inject IDialogService DialogService
@inject ISnackbar Snackbar
@inject IJSRuntime JSRuntime
@inject IDataProtectionProvider DataProtectionProvider
@inject IStringLocalizer<Pages.Collections.Jobs.Manage_Jobs> Localizer
@inject AuthenticationStateProvider AuthenticationStateProvider

<style>
    .selected-row-light {
        background-color: lightgray;
    }

    .selected-row-dark {
        background-color: #141414;
    }

    .custom-expansion-panel {
        background-color: transparent;
    }

    .dialog-blurring {
        backdrop-filter: blur(10px);
    }

    .mud-table-cell-custom-group {
        font-weight: 500;
    }

    .mud-table-cell-custom-group-footer {
        padding-bottom: 50px;
        text-align: right;
    }

    @@media only screen and (max-width: 768px) {
        .desktop-icon {
            display: none;
        }
    }
</style>

<AuthorizeView>

    <Authorized>
        
        @if (permissions_collections_enabled && permissions_collections_jobs_enabled)
        {
            <MudText Typo="Typo.h5">@Localizer["title"]</MudText>

            @if (permissions_collections_jobs_add)
            {
                <MudButton Class="mt-5" Size="Size.Small" Variant="Variant.Filled" OnClick="@Add_Job_Dialog" Color="Color.Default" StartIcon="@Icons.Material.Filled.Add">@Localizer["add"]</MudButton>
            }

            @if (permissions_collections_jobs_edit)
            {
                <MudButton Class="ml-2 mt-5" Size="Size.Small" Variant="Variant.Filled" OnClick="@(() => Edit_Job_Dialog(jobs_selectedRowContent_id, jobs_selectedRowContent_json))" Color="Color.Default" StartIcon="@Icons.Material.Filled.Edit" Disabled="Jobs_Get_Row_Selected()">@Localizer["edit"]</MudButton>
            }

            @if (permissions_collections_jobs_delete)
            {
                <MudButton Class="ml-2 mt-5" Size="Size.Small" Variant="Variant.Filled" OnClick="@(() => Delete_Job_Dialog(jobs_selectedRowContent_id))" Color="Color.Error" StartIcon="@Icons.Material.Filled.Delete" Disabled="Jobs_Get_Row_Selected()">@Localizer["delete"]</MudButton>
            }

            <MudPaper Class="mt-5">

                <MudTooltip Text="@Localizer["export_data"]">
                    <MudIconButton Class="ml-2 mt-2" Icon="@Icons.Material.Filled.FileDownload" Variant="Variant.Filled" Size="Size.Small" Color="Color.Default" @onclick="Trigger_Export_Table_Dialog"></MudIconButton>
                </MudTooltip>

                <MudTable Class="mt-0" Height="70vh" FixedHeader="true" FixedFooter="true" Hover="true" RowsPerPage="25" Dense="true" Items="@jobs_mysql_data" Filter="new Func<Jobs_Entity, bool>(Jobs_Table_Filter_Func)">
                    <ToolBarContent>
                        <MudTextField @bind-Value="jobs_table_search_string" Placeholder="Search" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"></MudTextField>
                    </ToolBarContent>
                    <HeaderContent>
                        <MudTh><MudTableSortLabel SortBy="new Func<Jobs_Entity, object>(x => x.name)">@Localizer["name"]</MudTableSortLabel></MudTh>
                        <MudTh><MudTableSortLabel SortBy="new Func<Jobs_Entity, object>(x => x.platform)">@Localizer["platform"]</MudTableSortLabel></MudTh>
                        <MudTh><MudTableSortLabel SortBy="new Func<Jobs_Entity, object>(x => x.type)">@Localizer["type"]</MudTableSortLabel></MudTh>
                        <MudTh><MudTableSortLabel SortBy="new Func<Jobs_Entity, object>(x => x.description)">@Localizer["description"]</MudTableSortLabel></MudTh>
                        <MudTh><MudTableSortLabel SortBy="new Func<Jobs_Entity, object>(x => x.author)">@Localizer["author"]</MudTableSortLabel></MudTh>
                        <MudTh><MudTableSortLabel SortBy="new Func<Jobs_Entity, object>(x => x.date)">@Localizer["date"]</MudTableSortLabel></MudTh>
                    </HeaderContent>
                    <RowTemplate Context="jobs_row">

                        <MudTd DataLabel="@Localizer["name"]" @onclick="() => Jobs_RowClickHandler(jobs_row)" @ondblclick="() => Jobs_RowDblClickHandler(jobs_row)" class="@Jobs_GetRowClass(jobs_row)" style="white-space: nowrap;">
                            <span style="display: flex; align-items: center;">
                                &nbsp;@jobs_row.name
                            </span>
                        </MudTd>

                        <MudTd DataLabel="@Localizer["platform"]" @onclick="() => Jobs_RowClickHandler(jobs_row)" @ondblclick="() => Jobs_RowDblClickHandler(jobs_row)" class="@Jobs_GetRowClass(jobs_row)" style="white-space: nowrap;">
                            <span style="display: flex; align-items: center;">
                                &nbsp;@jobs_row.platform
                            </span>
                        </MudTd>

                        <MudTd DataLabel="@Localizer["type"]" @onclick="() => Jobs_RowClickHandler(jobs_row)" @ondblclick="() => Jobs_RowDblClickHandler(jobs_row)" class="@Jobs_GetRowClass(jobs_row)" style="white-space: nowrap;">
                            <span style="display: flex; align-items: center;">
                                &nbsp;@jobs_row.type
                            </span>
                        </MudTd>

                        <MudTd DataLabel="@Localizer["description"]" @onclick="() => Jobs_RowClickHandler(jobs_row)" @ondblclick="() => Jobs_RowDblClickHandler(jobs_row)" class="@Jobs_GetRowClass(jobs_row)" style="white-space: nowrap;">
                            <span style="display: flex; align-items: center;">
                                &nbsp;@jobs_row.description
                            </span>
                        </MudTd>

                        <MudTd DataLabel="@Localizer["author"]" @onclick="() => Jobs_RowClickHandler(jobs_row)" @ondblclick="() => Jobs_RowDblClickHandler(jobs_row)" class="@Jobs_GetRowClass(jobs_row)" style="white-space: nowrap;">
                            <span style="display: flex; align-items: center;">
                                &nbsp;@jobs_row.author
                            </span>
                        </MudTd>

                        <MudTd DataLabel="@Localizer["date"]" @onclick="() => Jobs_RowClickHandler(jobs_row)" @ondblclick="() => Jobs_RowDblClickHandler(jobs_row)" class="@Jobs_GetRowClass(jobs_row)" style="white-space: nowrap;">
                            <span style="display: flex; align-items: center;">
                                &nbsp;@jobs_row.date
                            </span>
                        </MudTd>

                    </RowTemplate>
                    <PagerContent>
                        <MudTablePager PageSizeOptions="new int[] { 10, 25, 50, 100, 250, 500, int.MaxValue }" RowsPerPageString="@Localizer["rows_per_site"]" />
                    </PagerContent>
                </MudTable>

            </MudPaper>
        }

    </Authorized>
 </AuthorizeView>

@code {

    #region Permissions System

    private string permissions_json = String.Empty;

    private bool permissions_collections_enabled = false;
    private bool permissions_collections_jobs_enabled = false;
    private bool permissions_collections_jobs_add = false;
    private bool permissions_collections_jobs_edit = false;
    private bool permissions_collections_jobs_delete = false;

    private async Task<bool> Permissions()
    {
        try
        {
            bool logout = false;

            // Get the current user from the authentication state
            var user = (await AuthenticationStateProvider.GetAuthenticationStateAsync()).User;

            // Check if user is authenticated
            if (user?.Identity is not { IsAuthenticated: true })
                logout = true;

            string netlock_username = user.FindFirst(ClaimTypes.Email)?.Value;

            permissions_collections_enabled = await Classes.Authentication.Permissions.Verify_Permission(netlock_username, "collections_enabled");
			permissions_collections_jobs_enabled = await Classes.Authentication.Permissions.Verify_Permission(netlock_username, "collections_jobs_enabled");
            permissions_collections_jobs_add = await Classes.Authentication.Permissions.Verify_Permission(netlock_username, "collections_jobs_add");
            permissions_collections_jobs_edit = await Classes.Authentication.Permissions.Verify_Permission(netlock_username, "collections_jobs_edit");
			permissions_collections_jobs_delete = await Classes.Authentication.Permissions.Verify_Permission(netlock_username, "collections_jobs_delete");

            if (!permissions_collections_enabled)
                logout = true;

            if (logout) // Redirect to the login page
            {
                NavigationManager.NavigateTo("/logout", true);
                return false;
            }

            // All fine? Nice.
            return true;
        }
        catch (Exception ex)
        {
            Logging.Handler.Error("/dashboard -> Permissions", "Error", ex.ToString());
            return false;
        }
    }

    #endregion

    private bool _isDarkMode = false;

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await AfterInitializedAsync();
        }
    }

    private async Task AfterInitializedAsync()
    {
        if (!await Permissions())
            return;

        _isDarkMode = await JSRuntime.InvokeAsync<bool>("isDarkMode");

        await Get_Jobs();

        StateHasChanged();
    }

    private string jobs_json = String.Empty;

    private async Task Get_Jobs()
    {
        jobs_mysql_data = new List<Jobs_Entity>();

        string query = "SELECT * FROM jobs;";

        MySqlConnection conn = new MySqlConnection(Configuration.MySQL.Connection_String);

        try
        {
            await conn.OpenAsync();

            MySqlCommand command = new MySqlCommand("SELECT * FROM jobs;", conn);
            using (DbDataReader reader = await command.ExecuteReaderAsync())
            {
                if (reader.HasRows)
                {
                    while (await reader.ReadAsync())
                    {   
                        Jobs_Entity entity = new Jobs_Entity //Create entity
                            {
                                id = reader["id"].ToString() ?? String.Empty,
                                name = reader["name"].ToString() ?? String.Empty,
                                description = reader["description"].ToString() ?? String.Empty,
                                author = reader["author"].ToString() ?? String.Empty,
                                date = reader["date"].ToString() ?? String.Empty,
                                platform = reader["platform"].ToString() ?? String.Empty,
                                type = reader["type"].ToString() ?? String.Empty,
                                job_json = reader["json"].ToString() ?? String.Empty,
                            };

                        jobs_mysql_data.Add(entity);
                    }
                }
            }

        }
        catch (Exception ex)
        {
            Logging.Handler.Error("/manage_jobs -> Get_Jobs", "Result", ex.ToString());
        }
        finally
        {
            conn.Close();
        }
    }

    public List<Jobs_Entity> jobs_mysql_data;

    public class Jobs_Entity
    {
        public string id { get; set; } = String.Empty;
        public string name { get; set; } = String.Empty;
        public string description { get; set; } = String.Empty;
        public string author { get; set; } = String.Empty;
        public string date { get; set; } = String.Empty;
        public string platform { get; set; } = String.Empty;
        public string type { get; set; } = String.Empty;
        public string job_json { get; set; } = String.Empty;
    }

    private string jobs_table_view_port = "70vh";
    private string jobs_table_sorted_column;
    private string jobs_table_search_string = "";

    private bool Jobs_Table_Filter_Func(Jobs_Entity row)
    { 
        if (string.IsNullOrEmpty(jobs_table_search_string))
            return true;

        //Search logic for each column
        return row.name.Contains(jobs_table_search_string, StringComparison.OrdinalIgnoreCase) ||
            row.description.Contains(jobs_table_search_string, StringComparison.OrdinalIgnoreCase) ||
            row.author.Contains(jobs_table_search_string, StringComparison.OrdinalIgnoreCase) ||
            row.date.Contains(jobs_table_search_string, StringComparison.OrdinalIgnoreCase) ||
            row.type.Contains(jobs_table_search_string, StringComparison.OrdinalIgnoreCase) ||
            row.platform.Contains(jobs_table_search_string, StringComparison.OrdinalIgnoreCase) ||
            row.job_json.Contains(jobs_table_search_string, StringComparison.OrdinalIgnoreCase);
    }

    private string jobs_selectedRowContent_id = String.Empty; // Hier wird der Inhalt der ausgewählten Zeile gespeichert
    private string jobs_selectedRowContent_json = String.Empty; // Hier wird der Inhalt der ausgewählten Zeile gespeichert

    private void Jobs_RowClickHandler(Jobs_Entity row)
    {
        jobs_selectedRowContent_id = row.id;
        jobs_selectedRowContent_json = row.job_json;
    }

    private async void Jobs_RowDblClickHandler(Jobs_Entity row)
    {
        jobs_selectedRowContent_id = row.id;
        jobs_selectedRowContent_json = row.job_json;

        if (permissions_collections_jobs_edit)
        {
            await Edit_Job_Dialog(row.id, row.job_json);
        }
    }

    private string Jobs_GetRowClass(Jobs_Entity row)
    {
        return row.id == jobs_selectedRowContent_id ? (_isDarkMode ? "selected-row-dark" : "selected-row-light") : String.Empty;
    }

    private bool Jobs_Get_Row_Selected()
    {
        if (String.IsNullOrEmpty(jobs_selectedRowContent_id) == false)
            return false;
        else
            return true;
    }

    bool add_job_dialog_open = false;

    private async Task Add_Job_Dialog()
    {
        if (add_job_dialog_open)
            return;

        var options = new DialogOptions
        {
            CloseButton = true,
            FullWidth = true,
            MaxWidth = MaxWidth.Medium,
            BackgroundClass = "dialog-blurring",
        };

        add_job_dialog_open = true;

        var result = await this.DialogService.Show<Pages.Collections.Jobs.Dialogs.Add_Job_Dialog>(string.Empty, new DialogParameters(), options).Result;

        add_job_dialog_open = false;

        if (result.Canceled)
            return;

        Logging.Handler.Debug("/manage_jobs -> Add_Job_Dialog", "Result", result.Data.ToString());

        if (String.IsNullOrEmpty(result.Data.ToString()) == false && result.Data.ToString() != "error")
        {
            jobs_json = result.Data.ToString();

            await Get_Jobs();
        }
    }

    private bool edit_job_dialog_open = false;

    private async Task Edit_Job_Dialog(string id, string json)
    {
        if (edit_job_dialog_open)
            return;

        var options = new DialogOptions
            {
                CloseButton = true,
                FullWidth = true,
                MaxWidth = MaxWidth.Medium,
                BackgroundClass = "dialog-blurring",
            };

        DialogParameters parameters = new DialogParameters();
        parameters.Add("id", id);
        parameters.Add("json", json);

        edit_job_dialog_open = true;

        var result = await this.DialogService.Show<Pages.Collections.Jobs.Dialogs.Edit_Job_Dialog>(string.Empty, parameters, options).Result;

        edit_job_dialog_open = false;

        if (result.Canceled)
            return;

        Logging.Handler.Debug("/manage_jobs -> Edit_Job_Dialog", "Result", result.Data.ToString());

        if (String.IsNullOrEmpty(result.Data.ToString()) == false && result.Data.ToString() != "error")
        {
            jobs_json = result.Data.ToString();

            jobs_selectedRowContent_id = String.Empty;
            jobs_selectedRowContent_json = String.Empty;

            await Get_Jobs();
        }
    }

    private bool delete_job_dialog_open = false;

    private async Task Delete_Job_Dialog(string id)
    {
        if (delete_job_dialog_open)
            return;

        var options = new DialogOptions
            {
                CloseButton = true,
                FullWidth = true,
                MaxWidth = MaxWidth.Small,
                BackgroundClass = "dialog-blurring",
            };
            
        DialogParameters parameters = new DialogParameters();
        parameters.Add("id", id);

        delete_job_dialog_open = true;

        var result = await this.DialogService.Show<Pages.Collections.Jobs.Dialogs.Delete_Job_Dialog>(string.Empty, parameters, options).Result;

        delete_job_dialog_open = false;

        if (result.Canceled)
            return;

        Logging.Handler.Debug("/manage_jobs -> Delete_Job_Dialog", "Result", result.Data.ToString());

        if (String.IsNullOrEmpty(result.Data.ToString()) == false && result.Data.ToString() != "error")
        {
            jobs_json = result.Data.ToString();

            jobs_selectedRowContent_id = String.Empty;
            jobs_selectedRowContent_json = String.Empty;

            await Get_Jobs();
        }
    }

    #region Data_Export
    private async Task Trigger_Export_Table_Dialog()
    {
        await Export_Table_Dialog("jobs");
    }

    private async Task Export_Table_Dialog(string type)
    {
        var options = new DialogOptions
            {
                CloseButton = true,
                FullWidth = true,
                MaxWidth = MaxWidth.Small,
                BackgroundClass = "dialog-blurring",
            };

        var result = await this.DialogService.Show<Shared.Export_Data_Dialog>(string.Empty, new DialogParameters(), options).Result;

        if (result != null && result.Data != null)
        {
            if (result.Data.ToString() == "JSON")
                await Export_Data_Json(type);
            else if (result.Data.ToString() == "HTML")
                await Export_Data_HTML(type);
        }
    }

    private async Task Export_Data_Json(string type)
    {
        try
        {
            string jsonContent = String.Empty;

            // Erstellen eines JSON-Strings aus den MudTable-Einträgen
            if (type == "jobs")
                jsonContent = JsonSerializer.Serialize(jobs_mysql_data, new JsonSerializerOptions { WriteIndented = true });

            // Aufruf der JavaJob-Funktion für den Export als .txt
            await JSRuntime.InvokeVoidAsync("exportToTxt", $"{type}.json", jsonContent);
        }
        catch (Exception ex)
        {
            Logging.Handler.Error("/manage_jobs -> Export_Data_Json", "", ex.Message);
        }
    }

    public async Task Export_Data_HTML(string type)
    {
        try
        {
            StringBuilder htmlBuilder = new StringBuilder();

            if (type == "jobs")
            {
                // Baue den Tabellenkopf basierend auf den Eigenschaften der Datenklasse
                htmlBuilder.Append("<table border='1'><tr>");
                foreach (var property in jobs_mysql_data.First().GetType().GetProperties())
                {
                    htmlBuilder.Append($"<th>{property.Name}</th>");
                }
                htmlBuilder.Append("</tr>");

                // Baue die Tabelleneinträge basierend auf den Daten
                foreach (var entry in jobs_mysql_data)
                {
                    htmlBuilder.Append("<tr>");
                    foreach (var property in entry.GetType().GetProperties())
                    {
                        htmlBuilder.Append($"<td>{property.GetValue(entry)}</td>");
                    }
                    htmlBuilder.Append("</tr>");
                }
            }

            htmlBuilder.Append("</table>");

            string htmlContent = htmlBuilder.ToString();

            // Hier wird JavaJob-Interop verwendet, um den HTML-Inhalt herunterzuladen
            await JSRuntime.InvokeVoidAsync("exportToTxt", $"{type}.html", htmlContent, "text/html");
        }
        catch (Exception ex)
        {
            Logging.Handler.Error("/manage_jobs -> Export_Data_HTML", "", ex.Message);
        }
    }

    #endregion
}